In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import os

In [2]:
df = pd.read_csv('data_iris.csv', header='infer')

In [3]:
df.shape

(150, 5)

In [4]:
df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [5]:
x = df['Petal.Length']
y = df['Sepal.Length']

In [6]:
np.round(st.pearsonr(x,y),3)
x.corr(y)

0.8717537758865832

In [7]:
np.round(st.spearmanr(x,y),3)

array([0.882, 0.   ])

In [8]:
np.round(st.kendalltau(x,y),3)

array([0.719, 0.   ])

In [9]:
df = pd.read_csv('data_studentlist.csv', header='infer')

In [10]:
df.head(3)

             name gender  age  grade absence bloodtype  height  weight
0   Jared Diamond      M   23      3       Y         O   165.3    68.2
1  Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2    Brian Martin      M   24      4       N         B   175.0    80.1

In [11]:
x = df.height
y = df.weight

In [12]:
n = len(x)
r = x.corr(y)
z = np.arctanh(r)
std_error_z = 1/np.sqrt(n-3)

In [13]:
{'low':np.tanh(z-st.norm.ppf(0.975)*std_error_z), 'high': np.tanh(z+st.norm.ppf(0.975)*std_error_z)}

{'low': 0.26960396330592223, 'high': 0.8677953581441814}

In [14]:
{'low':np.tanh(z-st.norm.ppf(0.995)*std_error_z), 'high': np.tanh(z+st.norm.ppf(0.995)*std_error_z)}

{'low': 0.11137578298592947, 'high': 0.9030812794020874}